body {
	margin: 30px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

h4 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-primary {
	//padding:4px 60px;
	//margin: 15px;

	margin: 5px;
	width: 100px;
}

.btn-bar {
        width: 150px;
}

.main-form {
	width: 900px;
	margin: auto;
}

.card {
	margin: 15px;
	border: 5px solid #e5e5e5;
}

hr {
	border-top: 5px solid #e5e5e5;
	margin-top: 30px;
	margin-bottom: 30px;
}
